* {
    margin: 0;
}
* {box-sizing: border-box;}


nav 
{
    margin: auto;
    width: 100%;
    height: 100px;
    background: #48435C;
}
nav .icon {
    float: left;
    position: absolute  ;
    top: 50px;
    left: 50px;
    color: blanchedalmond;
    font-family: 'Crete round';
}

nav .main_pages 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    z-index: 5;
}
 
nav a:hover 
{
    background: #5A5766
}

.main-image {
    width: 100%;
    margin-top: 100px;
}

label, #toggle
{
    display: none;
}

#contact
{
    padding: 60px 0;
    max-width: 100%;
    max-height: 100%;
}
#contact h3
{
    width: 350px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    padding-bottom: 20px;   
}
form
{
    margin: 60px 0 20px 0;
}
label
{
    font-weight: bold;
    font-size: 20px;
    color: #777;
}
input[type="text"]
{
    padding:10px;
    font-size: 20px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.button-3
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    background-color: #777;
    border-style: none;
    border-radius: 3px;
}
.button-3:hover
{
    color: #fff;
    background-color: #444;
}
.wrapper1
{
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
} 



@media all and (max-width: 991px)
{
    nav
    {
        position: relative;
        height: 60px;
        z-index: 2;
    }

    nav .icon {
        float: left;
        position: absolute  ;
        top: 25px;
        left: 25px;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
        z-index: 2;
    }
 
    nav .main_pages a {
        width: 50%;
        padding-right: 15px;
        padding-left: 15px;
    }

    #contact
{
    padding: 60px 0;
    max-width: 100%;
    max-height: 100%;
}
 
    label 
    {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
    #toggle:checked + .main_pages {
        display: flex;

    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr) 100px;
        z-index: 1;
      
    }
    .event__pre {
        grid-column: 1/1;
        grid-row: 1/2;
        margin: 5px;
    }
    .event__pre img {
        height: auto;
        width: 100%;
    }
    .event__pre h2 {
        text-align: center;
        margin: 10px;
    }

    .event__deu {
        grid-column: 1/2;
        grid-row: 2/2;
        margin: 5px;
    }
    .event__deu h2 {
        text-align: center;
        margin: 10px;
    }

    .event__deu img {
        height: auto;
        width: 100%;

    }

    #contact {
        max-width: 100%;
        max-height: 100%;
        grid-column: 1/1;
    }



    }
    .footer {
        grid-column: 1;
        grid-row: 4/4;
        background-color: #48435C;
    }

    .wrapper {
        text-align: center;
        font-family: 'Crete round', serif;

    }


    @media all and (min-width: 991px) {
        .container {
            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-template-rows: repeat(2,1fr) 100px;
            z-index: 1;
          
        }
        nav .main_pages a {
            width: 10%;
            padding-right: 15px;
            padding-left: 15px;
        }

        .event__pre {
            grid-column: 1/13;
            grid-row: 1/2;
            margin: 15px;
            text-align: center;

        }
        .event__pre img {
            max-width: 100%;
            max-height: 100%;
        }

        .event__deu {
            grid-column: 1/13;
            grid-row: 2/3;
            margin: 15px;
            text-align: center;
        }
    
 
        .footer {
            grid-column: 1/13;
            grid-row: 3/4;
            background-color: #48435C;
        }
    
        .wrapper {
            text-align: center;
            font-family: 'Crete round', serif;
    
        }

    }

    
