/* BASE */

html, body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;

    margin: 0;
    padding: 0;
}

a{text-decoration: none; color: inherit;}
.site-content {
    padding-top: 66px;
}

/* HEADER */

.header {
    position: fixed;
    left: 0;
    right: 0;

    height: 66px;
    line-height: 66px;
    color: black;
    
    background-color:bisque;
}

.header__logo {
    font-weight: bold;
    padding: 0 25px;
    float: left;
}

/* MENU */

.menu {
    float: left;
}
.menu a {
    padding: 0 10px;
}
.menu a:hover {
    color: brown;

}